<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
  <div class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form class="" method="post" action="">
            <div class="form-group"> <label>Email address</label>
              <input id="email" type="email" name="email" class="form-control" placeholder="Enter email"> </div>
            <div class="form-group"> <label>Username</label>
              <input id="username" type="text" name="username" class="form-control" placeholder="Enter email"> </div>
            <div class="form-group"> <label>Password</label>
              <input id="password" type="password" name="password" class="form-control" placeholder="Password"> </div>
            <button id="register" type="button" class="btn btn-primary">Register</button>
              {% csrf_token %}
          </form>
            <div id="info"></div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'jq.js' %}?q={{ random }}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

  <script>


     $("#register").click( function (){
     $("#info").text(  register("/verify/?q=register",
                                        {
                                        "username": $("#username").val(),
                                        "password": $("#password").val(),
                                        "email":    $("#email").val(),
                                        "token": getCookie('csrftoken') })
                                        );

                                         });


  </script>
</body>

</html>
